<a href="https://colab.research.google.com/github/ricardoBatista77/Business-IA/blob/master/Stock_Price_Apple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [0]:
df=web.DataReader('AAPL',data_source='yahoo', start='2012-01-01', end='2020-03-31' )

In [8]:
df

                  High         Low  ...      Volume   Adj Close
Date                                ...
2012-01-03   58.928570   58.428570  ...  75555200.0   50.994907
2012-01-04   59.240002   58.468571  ...  65005500.0   51.268970
2012-01-05   59.792858   58.952858  ...  67817400.0   51.838169
2012-01-06   60.392857   59.888573  ...  79573200.0   52.380054
2012-01-09   61.107143   60.192856  ...  98506100.0   52.296970
...                ...         ...  ...         ...         ...
2020-03-25  258.250000  244.300003  ...  75900500.0  245.520004
2020-03-26  258.679993  246.360001  ...  63021800.0  258.440002
2020-03-27  255.869995  247.050003  ...  51054200.0  247.740005
2020-03-30  255.520004  249.399994  ...  41994100.0  254.809998
2020-03-31  262.489990  252.000000  ...  49250500.0  254.289993

[2074 rows x 6 columns]